*{

box-sizing:border-box;

}



body{


margin:0;

font-family:"Noto Serif TC","Microsoft JhengHei",serif;

background:#fff7f5;

color:#555;

text-align:center;


}



#startScreen{


position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:#fff;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:999;


cursor:pointer;


}



#startScreen h1{


font-size:35px;

color:#b88955;


}



#startScreen p{

font-size:18px;

}



.container{


max-width:700px;

margin:auto;

padding:40px 20px;


}



h1{


font-size:45px;

color:#9c7650;


}


h1 span{

color:#d85c5c;

}



h2{


font-size:30px;

letter-spacing:5px;

}



.photo img{


width:100%;

border-radius:20px;

box-shadow:0 10px 30px #ccc;


}



section{


background:white;

margin-top:30px;

padding:30px;

border-radius:20px;


box-shadow:0 5px 20px #ddd;


}



h3{


color:#b88955;


}



.map{


display:inline-block;

margin-top:20px;

padding:12px 25px;

background:#b88955;

color:white;

text-decoration:none;

border-radius:30px;


}



.countdown{


margin-top:30px;

font-size:22px;


}



#timer{


font-size:30px;

color:#d85c5c;

margin-top:10px;


}



button{


margin-top:30px;

padding:12px 30px;

border:none;

border-radius:30px;

background:#d88c8c;

color:white;

font-size:16px;

cursor:pointer;


}



footer{


margin-top:50px;

font-size:20px;

}



@media(max-width:600px){


h1{

font-size:35px;

}


#startScreen h1{

font-size:25px;

}


}
